[2021-09-30 16:45] siddhi-244 opened #1 "Intro to Arrays"
### Description
Inside arrays folder create a doc named `Intro_to_Arrays.md`.
Add syntax to declare an array in your preferred languages. Add examples as well.

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

Hacktoberfest
<hr/>

[2021-09-30 16:50] siddhi-244 opened #2 "Linear Search"
### Description
In algorithms folder inside Searching Algorithms folder create a file Linear_Search.md. Explain linear Search with examples as well as code in your preferred language.

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

Hacktoberfest
<hr/>

[2021-09-30 17:12] Asmit2952 commented on #2
Can you assign this to me?

[2021-09-30 17:13] siddhi-244 commented on #2
I will surely assign this issue to you tomorrow as Hacktoberfest will be starting from tomorrow!

[2021-09-30 17:14] Asmit2952 commented on #2
Thank You and I would also suggest you to add `hacktoberfest` label, as it was clearly mentioned on their site.

[2021-09-30 17:15] siddhi-244 commented on #2
Already added .

[2021-09-30 17:15] Asmit2952 commented on #2
Without number 21

[2021-09-30 18:39] mayankkaushik187 commented on #1
Would love to get assigned to this task @siddhi-244

[2021-10-01 02:28] siddhi-244 commented on #1
Sure. Please take care of the folder structure. Happy contributing !🎊🎊🎊🎊🎊

[2021-10-01 02:30] siddhi-244 commented on #2
Happy contributing 🎊🎊🎊🎊

[2021-10-01 03:50] jen-sjen opened #4 "DSA-Array-Python-Merge Intervals"
### Description of  the change
Adding a python program for hactoberfest 2021

### Domain of Docs

- [ ] C
- [ ] C++
- [ ] Java
-[ ] Python

#### Are you contributing under any open-source program ?

<hr/>

[2021-10-01 03:57] Swapna804 commented on #1
I am participating in hacktoberfest and new to open source. Can you assign any issue please

[2021-10-01 04:00] siddhi-244 commented on #1
It's already assigned.  You can create a new issue.

[2021-10-01 04:04] siddhi-244 commented on #4
Wait for issue to be assigned. Describe more about the problem.

[2021-10-01 04:05] das-jishu opened #6 "Add sorting algorithm - Bubble Sort"
Hi! I would like to add a sorting algorithm: Bubble Sort

[2021-10-01 04:06] siddhi-244 commented on #6
Please follow issue template.

[2021-10-01 04:06] jen-sjen commented on #4
Hey there, I'm participating in #hactoberfest2k21, Please assign me the issue. Good day!
Given an array of intervals where intervals[i] = [starti, endi], merge all overlapping intervals, and return an array of the non-overlapping intervals that cover all the intervals in the input.
Example:
Input: intervals = [[1,3],[2,5]]
Output: [[1,5]]

[2021-10-01 04:08] siddhi-244 commented on #4
You have add this in array folder as merge_overlapping_intervals.md
You have to explain the approach properly.

[2021-10-01 04:08] siddhi-244 commented on #4
Assigning this to you !

[2021-10-01 04:10] IAmTamal opened #7 "Insertion Sort"
### Description
This is a code to sort an array with the help of insertion sort

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
hacktoberfest

<hr/>

[2021-10-01 04:11] IAmTamal commented on #7
Ma'am would you please assign me this Issue ?

[2021-10-01 04:11] jen-sjen commented on #4
Hey, so I have to explain the program and write and NOT the code right? It's my first time contributing sorry

[2021-10-01 04:12] siddhi-244 commented on #7
Assigning this to you. Inside algorithms folder there is sorting algorithm folder inside that make a file Insertion_Sort.md and explain everything neatly.

[2021-10-01 04:14] IAmTamal commented on #7
Maam along with the md file do i also add the code file ?

[2021-10-01 04:16] siddhi-244 commented on #4
You have to write the code  as well as explain it with examples.

[2021-10-01 04:16] das-jishu opened #8 "Add Bubble Sort algorithm"
### Description
Hi! I am willing to add a bubble sorting algorithm to this repo. The concept of bubble sort is to compare each adjacent pair of elements and swap them if they don't follow the order. While bubble sort is not an efficient way of sorting, it is one of the most classical approaches to sorting.

Example:
Input: [2, 9, 4, 1, 0]
Output: [0, 1, 2, 4, 9]

Expected time complexity: O(N^2),

[2021-10-01 04:17] #6 closed

[2021-10-01 04:18] TechSpiritSS commented on #7
I would like to contribute in this using C

[2021-10-01 04:23] siddhi-244 commented on #7
Wait for this pr to be merged then you can go to improve a doc template and open a new issue for this.

[2021-10-01 04:25] jen-sjen commented on #4
Done!... Please review my PR. Thanks

[2021-10-01 04:27] joshiaastha opened #10 "Documentation for Merge Sort Algorithm"
### Description
Code to sort an array using merge sort algorithm.

### Programming language
- [ ] C
- [ ] C++

#### Are you contributing under any open-source program ?
Hacktoberfest

<hr/>

[2021-10-01 04:31] joshiaastha commented on #10
I would like to work on it. Could you please assign this issue to me?

[2021-10-01 04:32] das-jishu commented on #8
Could you please assign this issue to me. Thanks! 😃

[2021-10-01 04:35] siddhi-244 commented on #8
Assigning this to you @das-jishu . Inside algorithms folder inside sorting algorithm folder add a file Bubble_Sort.md and explain everything

[2021-10-01 04:42] vijeta-2000 opened #11 "Floyd-Warshall Algorithm.c"
Program in C to use the Floyd-Warshall Algorithm to find out the shortest path between every pair of nodes in the graph. Then take 2 nodes as input and find out the path between them as well as the path length.

- [ ] C

Are you contributing under any open-source program ?
hacktoberfest

[2021-10-01 04:43] vijeta-2000 commented on #11
i would like to work on this issue.

[2021-10-01 04:44] SUSHANT731 opened #12 "Documentation for Quick Sort Algorithm"
### Description
Describe more about the issue.
Code to sort an array using Quick Sort Algorithm(C++).
### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

HactoberFest
<hr/>

[2021-10-01 04:46] SUSHANT731 commented on #12
Could you please assign this issue to me.Thanks

[2021-10-01 04:47] dilipkn007 opened #13 "Singly linked list"
### Description
I would like to add a menu-driven program on operations on SLL
#### Operations include:
- Insertion/deletion at the beginning
- Insertion/deletion at end
- Insertion/deletion at specified node
- Searching the given element'
- display the list

### Programming language
- [x] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program?
 hacktoberfest

[2021-10-01 04:48] dilipkn007 commented on #13
Could you please assign this issue to me? Thanks! :)

[2021-10-01 06:27] rohith1125 opened #17 "Product of Array Except Self.cpp #16"
### Description
Describe more about the issue.
This issue is regarding the PR [Product of Array Except Self.cpp #16](https://github.com/HackClubRAIT/Wizard-Of-Docs/pull/16)
### Programming language
- [ ] C
- [x] C++
- [x] Java
- [ ] Python

#### Are you contributing under any open-source program ?

hacktoberfest
<hr/>

[2021-10-01 06:29] siddhi-244 commented on #10
You have to work on documentation.  You can refer the merged prs. Assigning it to you !

[2021-10-01 06:34] Red-0111 commented on #17
Hi I would like to take this issue :D

[2021-10-01 07:22] siddhi-244 commented on #11
Assigning this to you🎊🎊🎊🎊. This is a documentation project.  Please refer to merged prs.

[2021-10-01 07:23] siddhi-244 commented on #12
Assigning this to you🎊🎊🎊🎊. This is a documentation project.  Please refer to merged prs.

[2021-10-01 07:24] siddhi-244 commented on #13
Assigning this to you🎊🎊🎊🎊. This is a documentation project.  Please refer to merged prs.

[2021-10-01 07:25] siddhi-244 commented on #17
You can open new issues

[2021-10-01 07:26] siddhi-244 commented on #17
First try to create a issue get it assigned and then make a pr. This is a documentation project assigning this to you. Refer to merged prs.

[2021-10-01 07:27] rohith1125 commented on #17
@siddhi-244 I've created the pr before creating the issue, the pr has passed all the checks 🙂

[2021-10-01 07:27] siddhi-244 commented on #17
Refer to merged prs. And you have to make issue first !!!!

[2021-10-01 07:43] SUSHANT731 commented on #12
ok

[2021-10-01 07:43] #7 closed

[2021-10-01 08:56] kamleshjoshi8102 opened #21 "Want to add Some Arrays files : )"
### Description

Hashing_with_arrays.cpp
Spiral Order Matrix.cpp
nextgreatorelement.cpp
union of two sorted arrays.cpp

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

hacktoberfest
<hr/>

[2021-10-01 09:14] siddhi-244 commented on #21
Hello @kamleshjoshi8102 make one issue for each array file. This is a documentation project so make sure to explain everything

[2021-10-01 09:19] #21 closed

[2021-10-01 09:20] kamleshjoshi8102 opened #23 "Fenwick_Tree.cpp"
### Description

 Program to implement Fenwick tree

### Programming language
- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

hacktoberfest
<hr/>

[2021-10-01 09:38] prasanna16-12 opened #25 "binary search algorithm"
### Description
binary search algorithm
### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

#### Are you contributing under any open-source program ?

hacktoberfest
<hr/>

[2021-10-01 09:39] prasanna16-12 commented on #25
# ⭐ Binary search

In computer science, binary search, also known as half-interval search, logarithmic search, or binary chop, is a search algorithm that finds the position of a target value within a sorted array. Binary search compares the target value to the middle element of the array. If they are not equal, the half in which the target cannot lie is eliminated and the search continues on the r

[2021-10-01 09:39] #25 closed

[2021-10-01 09:48] prasanna16-12 opened #26 "binary search"
### Description
Describe more about the issue.

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

#### Are you contributing under any open-source program ?

hacktoberfest
<hr/>

[2021-10-01 09:54] siddhi-244 commented on #26
Assigning this to you🎊🎊🎊🎊

[2021-10-01 10:03] #26 closed

[2021-10-01 10:06] prasanna16-12 opened #27 "linear search"
### Description
Describe more about the issue.

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

#### Are you contributing under any open-source program ?

hacktoberfest
<hr/>

[2021-10-01 10:08] siddhi-244 commented on #27
It's already made and assigned to someone else !

[2021-10-01 10:08] #27 closed

[2021-10-01 10:16] prasanna16-12 commented on #2
assigned me!

[2021-10-01 10:18] siddhi-244 commented on #2
Sure if @Asmit2952 will not complete his pr within 5 days. It will be assigned to you.

[2021-10-01 10:19] prasanna16-12 commented on #2
so can i make my own issue and start working on it?

[2021-10-01 10:20] siddhi-244 commented on #2
Create another one. Don't create duplicate issues.

[2021-10-01 10:20] prasanna16-12 opened #28 "Linear search"
### Description
Linear search .

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

#### Are you contributing under any open-source program ?

hacktoberfest
<hr/>

[2021-10-01 10:20] prasanna16-12 commented on #28
assign me!

[2021-10-01 10:23] prasanna16-12 commented on #2
okk

[2021-10-01 10:40] #28 closed

[2021-10-01 10:40] prasanna16-12 opened #29 "Tree Traversal Inorder"
### Description
Tree Traversal Inorder
### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

#### Are you contributing under any open-source program ?

hacktoberfest
<hr/>

[2021-10-01 10:41] prasanna16-12 commented on #29
assign me

[2021-10-01 10:41] TD-17 opened #30 "Merge Sort"
### Description
Merge Sort is a Divide and Conquer algorithm.

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
hacktoberfest

<hr/>

[2021-10-01 10:42] TD-17 commented on #30
Could you please assign this issue to me?

[2021-10-01 10:42] akshikamudgal opened #31 "Searching"
### Description
Searching Techniques(Linear and Binary Search)

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
Hacktoberfest

<hr/>

[2021-10-01 11:05] siddhi-244 commented on #30
Assigning this to you🎊🎊🎊🎊. This is a documentation project.  Please refer to merged prs.

[2021-10-01 11:06] siddhi-244 commented on #29
Assigning this to you🎊🎊🎊🎊. This is a documentation project.  Please refer to merged prs.

[2021-10-01 11:09] girija0707 commented on #31
linear search is already assigned you can go ahead with binary search, change the title to binary search and use .md as an extension

[2021-10-01 11:22] #2 closed

[2021-10-01 11:25] neerajanand-coder opened #32 "Add Selection Sort Algorithm"
**Description**

Hi! I want to add  Selection sort algorithm to this repo. The idea behind this algorithm is to sorts an array by repeatedly finding the minimum element (considering ascending order) from the unsorted part and putting it at the beginning.

**Programming language**
- [X] C
- [ ] C++
- [ ] Java
- [ ] Python

**Are you contributing under any open-source program?**
I am participating i

[2021-10-01 11:26] neerajanand-coder commented on #32
Please assign this issue to me.

[2021-10-01 11:29] mayur295 opened #34 "Linked List"
### Description
Creating Linkedlist.md file with detailed explanation in Data Structures folder

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

<hr/>
hacktoberfest

[2021-10-01 11:32] girija0707 commented on #31
Actually there already exist linear and binary doc, you can add code in other languages for that you have to select improve doc from issue template

[2021-10-01 11:34] Nithish2032 opened #36 "Level order traversal of a binary tree"
### Description
Hi. I want to add a program that prints the level order traversal of a binary tree

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program?
Hacktoberfest

<hr/>

[2021-10-01 11:36] siddhi-244 commented on #36
Assigning this to you🎊🎊🎊🎊. This is a documentation project.  Please refer to merged prs.

[2021-10-01 11:43] samruddhideode commented on #36
Hi, can you assign me this issue?
Programming language: Java

[2021-10-01 11:44] siddhi-244 commented on #36
It's already assigned. You can create another issue.

[2021-10-01 11:47] mayur295 commented on #34
Please Assign Me

[2021-10-01 11:49] akankshaa02 opened #38 "Binary Search Algorithm in Java"
### Description
Describe more about the issue.

### Programming language
- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

#### Are you contributing under any open-source program ?

Hacktoberfest
<hr/>

[2021-10-01 12:48] siddhi-244 commented on #38
There is a document already on binary search. Please add your code with example input and output in Java. Assigning this to you🎊🎊🎊🎊

[2021-10-01 12:49] siddhi-244 commented on #34
Assigning this to you🎊🎊🎊🎊. This is a documentation project.  Please refer to merged prs.

[2021-10-01 12:50] siddhi-244 commented on #32
Assigning this to you🎊🎊🎊🎊. This is a documentation project.  Please refer to merged prs.

[2021-10-01 12:57] SUSHANT731 commented on #12
@siddhi-244 this issue was assign to me how someones else pr is accepted??

[2021-10-01 12:59] siddhi-244 commented on #12
I am so sorry that was my fault. You can improve that document and add code in other languages

[2021-10-01 12:59] hariketsheth opened #39 "Enhancing the Issue and Pull Request Templates"
### Description
- Would like to update the Issue and Pull Request templates so that it becomes easier.

### Programming language
- [x] Others

#### Are you contributing under any open-source program ?
- Hacktoberfest

<hr/>

[2021-10-01 13:01] siddhi-244 commented on #39
No. We want to keep it like that only.

[2021-10-01 13:01] #39 closed

[2021-10-01 13:03] akankshaa02 opened #41 "Order Agnostic Binary Search"
### Description
Describe more about the issue.

### Programming language
- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

#### Are you contributing under any open-source program ?

Hacktoberfest
<hr/>

[2021-10-01 13:03] hariketsheth opened #42 "Backtracking Documentation"
### Description
- Would like to contribute documentations for Backtracking

### Programming language

- [x] C++

#### Are you contributing under any open-source program ?
- Hacktoberfest

<hr/>

[2021-10-01 13:05] SUSHANT731 commented on #12
ok np I will add the code for c++ and will try to improve it!!

[2021-10-01 14:31] #38 closed

[2021-10-01 15:12] kindise opened #47 "Bubble sort java"
### Description
Hi. I want to add a program bubble sort in java

### Programming language
- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

#### Are you contributing under any open-source program ?

<hr/>

[2021-10-01 15:16] kindise commented on #47
Could you please assign this issue to me?

[2021-10-01 16:21] TD-17 commented on #30
Please review my PR @siddhi-244

[2021-10-01 16:24] harish127 commented on #47
Hey, I can do this task.

[2021-10-01 16:29] kindise commented on #47
Hmm you not create issue -_-

[2021-10-01 16:56] nishajha629 commented on #42
could you please assign this issue to me

[2021-10-01 16:59] diptilulla commented on #41
Can I do this task?

[2021-10-01 17:07] diptilulla opened #52 "Cyclic sort java"
### add cyclic sort
algorithm, code and example problems with intuition on cyclic sort

### Programming language
- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

#### Are you contributing under any open-source program ?
Hacktoberfest

<hr/>

[2021-10-01 17:07] diptilulla commented on #52
Can you please assign this issue to me?

[2021-10-01 17:10] siddhi-244 commented on #42
Assigning this to you🎊🎊🎊

[2021-10-01 17:10] siddhi-244 commented on #42
Find other issues

[2021-10-01 17:13] strikerrocker opened #53 "Stack data structure using array"
### Description
Stack Data structure implemented using array.
### Programming language
- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
 hacktoberfest

<hr/>

[2021-10-01 17:14] strikerrocker commented on #53
Done in #51

[2021-10-01 17:41] itsme-aparna opened #54 "Add Binary search tree documentation"
### Description
Step by step explanation of Search, Insertion, Deletion in Binary Search Trees with clean and concise code and complexity analysis(Both time and space complexity)

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

Hacktoberfest 2021
<hr/>

[2021-10-01 17:42] arkayyy opened #55 "Explanation to Finding Minimum and Maximum Value in a Binary Search Tree"
### Description
I would like to add a conceptual question along with explanation, for finding the minimum and maximum value in a Binary Search Tree using recursive methods.

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

Hacktoberfest 2021
<hr/>

[2021-10-01 18:59] hariketsheth commented on #42
@siddhi-244 Actually, DSA Repositories are excluded from Hacktoberfest - according to the recent update.
So @nishajha629 can take this up

[2021-10-02 00:45] #47 closed

[2021-10-02 02:52] siddhi-244 commented on #42
Who said that?

[2021-10-02 03:00] #34 closed

[2021-10-02 03:45] Hanzala421 opened #56 "Breadth First Search"
// Java program to print BFS traversal from a given source vertex.
// BFS(int s) traverses vertices reachable from s.
import java.io.*;
import java.util.*;

// This class represents a directed graph using adjacency list
// representation
class Graph
{
	private int V; // No. of vertices
	private LinkedList<Integer> adj[]; //Adjacency Lists

	// Constructor
	Graph(int v)
	{
		V = v;
		adj = new Link

[2021-10-02 03:46] #56 closed

[2021-10-02 03:57] itsme-aparna commented on #54
@girija0707 @siddhi-244 please assign this to me under hacktoberfest 2021

[2021-10-02 04:15] hariketsheth commented on #42
![image](https://user-images.githubusercontent.com/72455881/135703256-900a5045-d4d8-4689-b284-2f2ad3214c5f.png)
![image](https://user-images.githubusercontent.com/72455881/135703266-0c50a8c4-a376-4001-890e-10526fc3bc15.png)

[2021-10-02 04:17] hariketsheth commented on #42
![image](https://user-images.githubusercontent.com/72455881/135703312-784fa0db-0eff-4a5e-8134-2e7293c0da24.png)

[2021-10-02 04:51] siddhi-244 commented on #42
@hariketsheth it's not our repository.  Our repository is a documentation repo. And it counts once ur prs are merged

[2021-10-02 04:52] siddhi-244 commented on #42
The prs need to be merged first.

[2021-10-02 05:50] hariketsheth commented on #42
Ohh Right, This repository is not maintaining codes alone.
Great ! Thank you for clarifying. :)
Can you re-assign this issue to me. Also, sorry for the inconvinience

[2021-10-02 06:45] arkayyy commented on #55
@girija0707 @siddhi-244 Please consider assigning this to me under hacktoberfest 2021 tag.

[2021-10-02 07:23] ThejaswinS opened #60 "print_right_view _of_a_tree"
### Description
input is given in form of an array abt the structure of tree and -1 if no child nodes are present.
program is written to print the right most view of the tree in form of an array.

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

Hacktoberfest21
<hr/>

[2021-10-02 08:09] akankshaa02 commented on #41
Well I opened an issue for it but it is not assigned yet, I will complete as soon as it will be assigned.

[2021-10-02 08:32] imobasshir opened #62 "Subarray"
### Description of  the change
Introduction to subarray in Array folder.

### Domain of Docs

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
Hacktoberfest

<hr/>

[2021-10-02 09:22] imobasshir commented on #62
@girija0707 @siddhi-244 can you please assign this to mean under hacktober2021.

[2021-10-02 10:44] itsme-aparna commented on #54
@siddhi-244 Kindly review and accept my PR.

[2021-10-02 12:27] neelshah2409 opened #65 "Merge sort documentation"
### Description
I will try to understand merge sort in the best way.

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

<hr/>

[2021-10-02 12:29] neelshah2409 opened #66 "Prim's Algorithm"
### Description
I would like to explain it with best if my knowledge.

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

<hr/>

[2021-10-02 12:40] mayankkaushik187 commented on #60
Hey can you assign me to this task @ThejaswinS

[2021-10-02 14:09] shreyamedehal opened #67 "Selection sort"
### Description
explanation of selection sort in java

### Programming language
- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

#### Are you contributing under any open-source program ?
 hacktoberfest

<hr/>

[2021-10-02 14:16] shreyamedehal opened #68 "Kadane’s Algorithm:"
### Description
explanation of Kadane’s Algorithm - the sum of contiguous subarray in a 1-D array of numbers that has the largest sum.

### Programming language
- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

#### Are you contributing under any open-source program ?
hacktoberfest

<hr/>

[2021-10-02 15:39] Sharayu1071 opened #70 "queue data structure using array"
### Description
What is Queue Data Structure

### Programming language
- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

Hacktoberfest

<hr/>

[2021-10-02 15:41] Sharayu1071 commented on #70
can I work on it?

[2021-10-02 15:42] Sharayu1071 commented on #70
I am working on this issue.

[2021-10-03 06:21] Korra15 opened #72 "Binary search Tree"
### Description
I would like to work on contribute towards operations in a binary search tree
### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
Contributing in hacktoberfest 2021

<hr/>

[2021-10-03 06:25] Korra15 commented on #72
@girija0707 @siddhi-244 Could you please assign this to me under hacktoberfest 2021

[2021-10-03 07:57] akshikamudgal opened #74 "Selection Sort Algorithm"
### Description
Algorithm of selection sort

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
Hacktoberfest

<hr/>

[2021-10-03 08:38] #1 closed

[2021-10-03 08:39] siddhi-244 commented on #52
Assigning this to you.  This is a documentation project so make sure you check merged prs.

[2021-10-03 08:47] diptilulla commented on #52
Okay thank you

[2021-10-03 11:59] Dark-Hope-tech opened #75 "DFS algorithm"
### Description
Describe more about the issue.
The DFS algorithm is a recursive algorithm that uses the idea of backtracking. It involves exhaustive searches of all the nodes by going ahead, if possible, else by backtracking.

Here, the word backtrack means that when you are moving forward and there are no more nodes along the current path, you move backwards on the same path to find nodes to trav

[2021-10-03 14:53] siddhi-244 commented on #60
Assigning this to you🎊🎊🎊🎊. This is a documentation project.  Please refer to merged prs.

[2021-10-03 14:54] siddhi-244 commented on #62
Assigning this to you🎊🎊🎊🎊. This is a documentation project.  Please refer to merged prs.

[2021-10-03 14:57] #29 closed

[2021-10-03 14:57] #30 closed

[2021-10-03 15:01] siddhi-244 commented on #53
Wait for issue to get assigned

[2021-10-03 15:01] #53 closed

[2021-10-03 18:23] nishajha629 opened #77 "quickselect algoithm"
### Description
Describe more about the issue.
Quickselect is a selection algorithm to find the k-th smallest element in an unordered list. It is related to the quick sort sorting algorithm.The difference is, instead of recurring for both sides (after finding pivot), it recurs only for the part that contains the k-th smallest element.

### Programming language
- [ ] Python

#### Are you contributi

[2021-10-03 18:25] nishajha629 commented on #77
could you please assign me this issue

[2021-10-04 06:32] prasanna16-12 opened #80 "pre-order-tree-traversal"
### Description
pre-order-tree-traversal

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

#### Are you contributing under any open-source program ?

yes
<hr/>

[2021-10-04 06:32] prasanna16-12 commented on #80
assign to me!

[2021-10-04 16:48] codemukul opened #82 "Stack intro and example , and a minor folder addition"
### Description
Addition of a DS topic.

### Programming language
- [ ] C
- [ y] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
hacktoberfest

<hr/>

[2021-10-04 19:06] mayankkaushik187 opened #84 "Introduction_to_Dynamic_Programming"
### Description
Creating an Introduction_to_Dynamic_Programming.md file with some standard DP problems.
Documenting whole approach of reaching from a brute force recursive solution to converting it into memoized solution and finally coming up with the iterative approach

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

<

[2021-10-05 03:22] #32 closed

[2021-10-05 03:23] siddhi-244 commented on #65
It's already done !

[2021-10-05 03:23] #65 closed

[2021-10-05 10:25] Aryangarg03 opened #85 "Asymptotic Notations"
### Description
Describe more about the issue.
The basics of Algorithms can't be understood without the Asymptotic Notations. Any Beginner needs to first understand the time complexity and space complexity before starting to learn the algorithms
### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

<hr/>

[2021-10-05 10:26] Aryangarg03 commented on #85
I am really excited to add them please give me a chance to do so.

[2021-10-05 10:31] siddhi-244 commented on #85
Assigning this to you 🎊🎊

[2021-10-06 12:17] #12 closed

[2021-10-06 13:48] amandeep2326 opened #86 "Recursive Algorithms"
### Description
Describe more about the issue.
A documentation on analysis of recursive algorithms
### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program?

hacktoberfest
<hr/>

[2021-10-06 13:48] amandeep2326 commented on #86
Pls assign this issue to me I am excited to work upon this

[2021-10-06 19:40] codemukul commented on #82
should i go ahead and make a PR on stacks in one file as you requested ?

[2021-10-07 03:33] #23 closed

[2021-10-07 03:35] siddhi-244 commented on #67
I think it's already present in the Repo.

[2021-10-07 03:35] #67 closed

[2021-10-07 06:12] akankshaa02 commented on #41
whenever the problem related to binary search is given it is always mentioned that it is sorted in either ascending order or descending order, but whenever is it not mentioned in question we need to first run the logic which tells whether the array is sorted in ascending manner or descending manner and then proceed with the binary search algorithm.

[2021-10-07 11:34] kshitija-2001 opened #88 "breadth first search algorithm"
### Description
implementing heap sort in C

### Programming language
- [x ] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
hacktoberfest

<hr/>

[2021-10-09 15:06] ColonelAVP opened #91 "Segregate Even Odd"
### Description
Added a Python code to segregate Even and Odd numbers in an unsorted array.

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

#### Are you contributing under any open-source program ?

<hr/>

[2021-10-10 15:55] Kjp04 opened #92 "2D array"
### Description of  the change
Declaration of 2d array and how to access

### Domain of Docs

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
hacktoberfest

<hr/>

[2021-10-10 15:55] Kjp04 commented on #92
Assign it to me

[2021-10-10 16:17] Tarun-Rao00 commented on #92
I will do this in the best way. I'll utilise comments to make the code easily understandable.

[2021-10-11 09:29] siddhi-244 commented on #74
It's already there,maybe you can add  code in other languages!

[2021-10-11 10:22] Sharayu1071 commented on #70
Plz review and merged it.

[2021-10-11 13:24] niharbansal02 opened #95 "Knapsack Problem"
### Description
Knapsack problem is a classic optimization problem.

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program?
hacktoberfest
<hr/>

[2021-10-11 16:41] siddhi-244 commented on #74
Yaa you can !

[2021-10-12 04:01] #72 closed

[2021-10-15 07:41] purva2906 opened #96 "Heap Sort"
Description
Heap Sort is an in-place algorithm.

Programming language
 C++

Are you contributing under any open-source program ?
Hacktoberfest

<hr/>

[2021-10-15 17:23] Prashant0kgp opened #97 "kadane_algo"
### Description
Describe more about the issue.
Kadane's algorithm is an iterative dynamic programming algorithm in which we search for a maximum sum contiguous subarray within a one-dimensional numeric array.
such good algo!

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program?

<hr/>

[2021-10-17 02:48] #70 closed

[2021-10-17 14:15] Hanzala421 opened #98 "Depth First Search or DFS for a Graph"
// Java program to print DFS
//mtraversal from a given given
// graph
import java.io.*;
import java.util.*;

// This class represents a
// directed graph using adjacency
// list representation
class Graph {
	private int V; // No. of vertices

	// Array of lists for
	// Adjacency List Representation
	private LinkedList<Integer> adj[];

	// Constructor
	@SuppressWarnings("unchecked") Graph(int v)
	{

[2021-10-17 14:16] Hanzala421 commented on #98
saw useful,so added..

[2021-10-23 10:45] #88 closed, assigned to kshitija-2001

[2021-10-23 14:53] vijeta-2000 opened #103 "Dynamic Programming-Longest Common Subsequence"
### Description
Given two strings S and T, find the length of the longest common subsequence (LCS).

#### Are you contributing under any open-source program ?

hacktoberfest
<hr/>

[2021-10-24 12:49] #96 closed, assigned to purva2906

[2021-10-26 13:38] purva2906 opened #107 "Queue data structure"
### Description
Information about Queue data structure.

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

Hacktoberfest
<hr/>

[2021-10-26 16:55] #107 closed, assigned to nobody

[2021-10-26 16:59] purva2906 opened #108 "Hashing in data structures"
### Description
Information about Hashing in data structures.

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

Hacktoberfest
<hr/>

[2021-10-27 09:14] Maheshkanhere opened #110 "Learning to be precise"
### Description
code for problem learning to be precise

### Programming language
- [x] C++

#### Are you contributing under any open-source program ?
 hacktoberfest
<hr/>

[2021-10-30 07:47] #103 closed

[2021-10-30 12:19] siddhi-244 commented on #108
Go for it !

[2021-10-30 15:00] purva2906 commented on #108
[Hashing.md](https://github.com/HackClubRAIT/Wizard-Of-Docs/files/7446934/Hashing.md)

[2021-10-30 15:19] prajna-spec commented on #74
Could you pls assign this to me. shall do it in cpp

[2021-10-30 16:00] prajna-spec opened #113 "Updated the bubble sort"
### Description of  the change
Describe more about the change.

Updated the bubble sort.md
added the cpp programs
the general approach and the optimised approach have been added
### Domain of Docs

- [ ] C++

#### Are you contributing under any open-source program ?
hacktoberfest

<hr/>

[2021-10-30 16:15] prajna-spec commented on #113
I merged it in the main branch is that ok.  Is that ok for a pr? I'm new to open source..any help is appreciated

[2021-10-30 16:22] #108 closed

[2021-11-15 07:40] akshikamudgal commented on #74
@siddhi-244 are you merging this??

[2021-12-31 08:59] #42 closed

[2022-07-13 14:48] PriyanshuGarg26 commented on #97
Can you assign this issue to me. I love to work on it

[2022-07-15 04:29] utkarsh006 opened #115 "2 SUM problem"
### Description
2 Sum problem in arrays

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
Hackclub Rait

<hr/>

[2022-07-15 04:40] Soumya-Kushwaha opened #116 "Insertion in singly linked list"
### Description
Insertion at the beginning, middle and end of the singly linked list.

### Programming language
- [ ] C
- [*] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
HackClubRAIT
<hr/>

[2022-07-15 05:33] Chaitalishetty commented on #115
@utkarsh006 Assigning this issue to you. Happy Coding!

[2022-07-15 05:35] Chaitalishetty commented on #116
@Soumya-Kushwaha Assigning this issue to you. Happy Coding!

[2022-07-15 16:10] GundaSudarrshan opened #117 "Peak element In a Mountain Array Using Binary Search"
### Description
This Problem solves one of the Interesting Question , That is to Find out the highest element in an array that contains both Ascending and Descending Elements, so we need to find that element from which the list of elements changes from
Ascending to Descending (or) Descending to Ascending.

### Programming language
- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

#### Are you contributin

[2022-07-15 16:11] GundaSudarrshan commented on #117
@Chaitalishetty  can You look up and this to this Issue, add labels and Assign me this Issue.

[2022-07-15 16:13] sid-am-ahd935 opened #118 "Segmented Sieve Algorithm"
### Description
I want to add a document about the implementation of Segmented Sieve Algorithm, which uses Dynamic Programming for finding Prime Numbers upto a certain range in the most efficient way possible.

### Programming language
- C++
- Python

#### Are you contributing under any open-source program ?
I am contributing this under HACKCLUB RAIT Summer of Code.

<hr/>

[2022-07-15 16:16] sid-am-ahd935 commented on #118
Hi @Chaitalishetty can I implement this algorithm in both C++ and Python??
And one more question, if implementing i both languages, will it count as one or two issues?

[2022-07-15 19:00] #116 closed

[2022-07-16 08:00] Chaitalishetty commented on #117
@GundaSudarrshan Assigning this issue to you. Happy Coding !

[2022-07-16 08:02] Chaitalishetty commented on #118
@sid-am-ahd935 Yeah sure go ahead! And if you're implementing both languages it will be considered as one issue.

[2022-07-16 09:30] sid-am-ahd935 commented on #118
So can you assign this issue to me?

[2022-07-16 16:46] GundaSudarrshan opened #120 "Changing the Checklist in PullRequest.md file"
### Description of  the change
**Update needed for PullRequest.md** file in regards with HSOC

![image](https://user-images.githubusercontent.com/70209862/179364187-f9817f0c-f360-4662-b0ed-177922c83d54.png)

Should Change that **Above highlighted checklist** to **HSOC-22**

#### Are you contributing under any open-source program ?

HSOC-22 ( Hack-Club-Rait Summer Of Code 22)
<hr/>

[2022-07-16 16:49] GundaSudarrshan commented on #117
@Chaitalishetty  I Wanted to Create a Document about Binary Search and solve that Problem in Two Languages(Python, Java)
Should I make Another Issue for Binary Search Document
and another doubt is if I do it in Two Languages Will this be considered as single-issue or Multiple Issues.

[2022-07-16 16:50] GundaSudarrshan commented on #120
@Chaitalishetty  You can Assign me this Issue.

[2022-07-16 19:45] ashmeet-chhabra opened #121 "Add documentation for stack"
### Description
I'll be updating the current empty stack readme. It'll comprise of:
- Introduction
- Implementation (using both array and linked list)
- Basic operations

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
HSOC22

<hr/>

[2022-07-17 10:47] PriyanshuGarg26 commented on #74
Can you assign this issue to me. I want to add its python code

[2022-07-18 17:57] Chaitalishetty commented on #121
@ashmeet-chhabra Assigning you this issue. Happy coding!

[2022-07-18 17:59] Chaitalishetty commented on #115
@utkarsh006 are you still working on this issue?

[2022-07-18 18:02] Chaitalishetty commented on #117
Yeah you can create a document and add it in the same issue also if you're doing it in multiple languages, it will be considered as single issue

[2022-07-18 18:19] GundaSudarrshan commented on #117
ok I will update sooner in Python also

[2022-07-20 07:11] pooja-sanap-53 commented on #115
Can you assign this issue to me ? I can complete by today itself.

[2022-07-20 13:49] Soumya-Kushwaha opened #124 "Add contributors section in readme"
### Description of  the change
Add Contributors section!

#### Are you contributing under any open-source program ?
HackClub RAIT

<hr/>

[2022-07-20 17:04] #118 closed

[2022-07-20 17:13] Chaitalishetty commented on #115
@Ijaiswalshivam Assigning this issue to you. Happy Coding !

[2022-07-20 17:33] Chaitalishetty commented on #120
@GundaSudarrshan Assigning you this issue. Happy Coding!

[2022-07-20 18:06] sid-am-ahd935 opened #127 "Add Sieve of Eratosthenes Algorithm inside the Docs"
### Description
Hi I want to add the program Sieve Of Eratosthenes as a contribution for HSoC. This program is used for finding prime numbers upto a given limit. This is a hand-in-hand algorithm for the Segmented Sieve.

### Programming language
- [x] C++
- [x] Python

#### Are you contributing under any open-source program ?
HackClub RAIT Summer of Code

<hr/>

[2022-07-21 07:12] PriyanshuGarg26 commented on #127
Can you assign this issue to me . I want to contribute on this issue.

[2022-07-21 10:00] Bhavesh-Rawat commented on #75
May I ?

[2022-07-21 14:45] PriyanshuGarg26 opened #129 "Add Array Problems"
### Description
Want to add Array Problems.
1.[Two Sum II](https://leetcode.com/problems/two-sum-ii-input-array-is-sorted/)
2.[3Sum](https://leetcode.com/problems/3sum/)
3.[Top K Frequent Elements](https://leetcode.com/problems/top-k-frequent-elements/)
### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ .] Python

#### Are you contributing under any open-source program ?

HackClub RAIT
<hr/

[2022-07-21 18:48] GundaSudarrshan commented on #91
@kshitija-2001  and @Chaitalishetty  if this is open pls assign it to me

[2022-07-21 18:50] GundaSudarrshan commented on #41
@Chaitalishetty  and @kshitija-2001  if this is open pls assign it to me i am ready to solve it as well as add labels for hsoc after assigning

[2022-07-22 10:55] #124 closed

[2022-07-22 11:00] Chaitalishetty commented on #127
@sid-am-ahd935 Assigning this issue to you. Happy Coding!

[2022-07-22 11:33] vickyrules opened #130 "Add shell and radix sorting algorithms"
### Description
want to add shell and radix sorting algorithms using cpp language

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

<hr/>

[2022-07-22 11:35] vickyrules commented on #130
@Chaitalishetty  assign this issue to me, please.

[2022-07-22 11:56] Chaitalishetty commented on #129
@PriyanshuGarg26 Assigning you this issue. Happy Coding !

[2022-07-22 11:57] Chaitalishetty commented on #130
@vickyrules Assigning you this issue. Happy Coding !

[2022-07-22 11:59] #120 closed

[2022-07-22 15:48] surjyaneeh opened #132 "Invert Binary Tree"
### Description
Given the root of a binary tree, invert the tree, and return its root.

### Programming language
- [x] C++
- [x] Python

#### Are you contributing under any open-source program ?
HCSOC22'

<hr/>

[2022-07-23 03:31] sid-am-ahd935 opened #135 "Add Morris Inorder Traversal for a Binary Tree inside the Doc"
### Description
Recursively, anyone can traverse the binary tree but it takes O(N) time and O(N) space [function call stack]. To reduce the space complexity, Morris Traversal is used.

### Programming language
- [x] C++
- [x] Python

#### Are you contributing under any open-source program ?
Hackclub RAIT Summer of Code

<hr/>

[2022-07-23 03:32] sid-am-ahd935 commented on #135
Hi @Chaitalishetty can you please assign this issue to me?

[2022-07-23 05:49] #127 closed

[2022-07-23 05:52] Chaitalishetty commented on #132
@surjyaneeh Assigning you this issue. Happy Coding !

[2022-07-23 05:53] Chaitalishetty commented on #135
@sid-am-ahd935 Assigning you this issue. Happy Coding !

[2022-07-23 06:01] #121 closed

[2022-07-23 07:15] vedsom opened #136 "Implementation of queue using linked list and array"
### Description
want to add Implementation of queue using linked list and array in c++

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
Hackclub RAIT Summer of Code
<hr/>

[2022-07-23 07:16] vedsom commented on #136
@Chaitalishetty can you assign me this issue?

[2022-07-23 11:33] #130 closed

[2022-07-23 18:04] surjyaneeh opened #138 "Missing Number"
### Description
Given an array nums containing n distinct numbers in the range [0, n], return the only number in the range that is missing from the array.

### Programming language
- [x] C++
- [x] Java
- [x] Python

#### Are you contributing under any open-source program ?
HCSOC22'
<hr/>

[2022-07-24 01:12] ashmeet-chhabra opened #139 "Views of Binary Tree"
### Description
I'll add the implementations of different views of a binary tree, including
- left view
- right view
- top view
- bottom view

And brief about the intuition, and approach/traversal used

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?

Hack Club RAIT (HSOC22)

<hr/>

[2022-07-24 07:44] Soumya-Kushwaha opened #140 "Reverse a Linked List"
### Description
A complete doc about reversing a linked list using cpp
### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
HackClubRAIT

<hr/>

[2022-07-24 07:46] Soumya-Kushwaha commented on #140
Please assign me @Chaitalishetty

[2022-07-24 16:51] tanya-gupta25 opened #143 "Add Linear Search and Binary Search Algorithm"
### Description
Will add linear search & binary search algorithm and code

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
HSOC

<hr/>

[2022-07-24 16:52] tanya-gupta25 commented on #143
I want to work on this issue under HSOC

[2022-07-24 17:26] debjit20504 commented on #138
Can I take this issue @surjyaneeh

[2022-07-24 18:01] surjyaneeh commented on #138
@debjit20504 I have created the issue for myself. Sorry but you can't take it.

[2022-07-24 18:11] debjit20504 commented on #138
Ohk np 👍

[2022-07-24 18:28] Koustavjr opened #144 "Insertion sort algorithm and code"
### Description
Describe more about the issue.

### Programming language
- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

#### Are you contributing under any open-source program ?

HSOC'22
<hr/>

[2022-07-25 03:58] surjyaneeh commented on #138
@Chaitalishetty can you assign me this issue?

[2022-07-25 05:01] Koustavjr commented on #144
@Chaitalishetty can I contribute to this project under HSOC'22

[2022-07-25 05:31] #132 closed

[2022-07-25 05:35] Chaitalishetty commented on #138
@surjyaneeh Assigning this issue to you. Happy Coding !

[2022-07-25 05:37] Chaitalishetty commented on #139
@ashmeet-chhabra Assigning you this issue. Happy Coding!

[2022-07-25 05:37] Chaitalishetty commented on #140
@Soumya-Kushwaha Assigning you this issue. Happy Coding!

[2022-07-25 05:38] Chaitalishetty commented on #143
@tanya-gupta25 Assigning you this issue. Happy Coding!

[2022-07-25 05:39] Chaitalishetty commented on #144
@Koustavjr Assigning you this issue. Happy Coding!

[2022-07-25 14:05] surjyaneeh opened #147 "Reverse Linked List"
### Description
Given the head of a singly linked list, reverse the list, and return the reversed list.

### Programming language
- [x] C++
- [x] Python

#### Are you contributing under any open-source program?
HSOC'22

[2022-07-25 14:41] surjyaneeh opened #148 "Pascal's Triangle (using DP)"
### Description
Given an integer numRows, return the first numRows of Pascal's triangle.
In Pascal's triangle, each number is the sum of the two numbers directly above it

### Programming language
- [x] C++
- [x] Python

#### Are you contributing under any open-source program ?
HSOC'22

[2022-07-27 04:47] #129 closed

[2022-07-29 21:41] coderSuren opened #150 "Add Tree Traversal Algorithm"
### Description
I would like to add the following Tree-Traversal Algorithms to Algorithms/Tree Folder:
- Preorder Traversal
- Postorder Traversal
- Breadth-First Traversal

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

#### Are you contributing under any open-source program ?
HSOC'22

<hr/>

[2022-07-29 21:43] coderSuren commented on #150
@Chaitalishetty Please Assign me this issue.

[2022-07-31 06:02] #143 closed

[2022-07-31 16:38] #144 closed

[2022-07-31 18:15] Akanksha-Sen opened #152 "QUEUE"
### Description
Doc about queues and its implementation.

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

#### Are you contributing under any open-source program ?
HCSOC'22

<hr/>

[2022-08-05 13:49] Koustavjr opened #153 "Akra_Bazi theorem"
### Description
A method to find time complexity in recursion problems.

### Programming language
- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

#### Are you contributing under any open-source program ?

HSOC'22

<hr/>

[2022-08-05 13:51] Koustavjr commented on #153
@Chaitalishetty can u please assign me this issue under HSOC'22?

[2022-08-06 15:40] Chaitalishetty commented on #153
@Koustavjr Assigning you this issue. Happy Coding!

[2022-08-07 16:15] soumalya20010 commented on #152
I would like to work on this  issue

[2022-08-10 14:45] saiprabhath2002 commented on #139
Hello how exactly can I contribute to this one I am new to open source can you guide me please

[2022-08-13 17:51] Koustavjr commented on #153
@Chaitalishetty  can u please review my pr

[2022-08-18 15:01] #139 closed

[2022-08-18 15:07] #153 closed

[2022-08-24 11:18] #136 closed

[2022-08-31 11:17] vedsom commented on #140
@Chaitalishetty  can you assign me this issue??

[2022-10-07 04:58] #140 closed

[2022-10-29 12:59] #115 closed